{{#each songs}}
	<div>
		<h3 class="title">{{title}}<input type="button" id="{{@key}}" class="add-member-button" value="Add Member"></h3>
			<div>
				{{album}} {{artist}}
				<input type="button" id="{{@key}}" class="edit-button" value="Edit"><input type="button" id="{{@key}}" class="delete-button" value="Delete">
			</div>
	</div>
{{/each}}



{{!-- {{#each songs}}
	<div>
		<h3>{{title}}</h3>
			<div class="row">
				<div class=".col-md-1">{{artist}}</div>
				<div class=".col-md-1 .col-md-offset-1">{{album}}</div>
			</div>
		<input type="button" id="{{@key}}" class="edit-button" value="Edit">
		<input type="button" id="{{@key}}" class="delete-button" value="Delete">
	</div>
{{/each}} --}}
